.row {width: 100%; margin: 0 auto; overflow: hidden;}

.onecol, .twocol, .twohalfcol, .threecol, .threehalfcol, .fourcol, .fivecol, .fivehalfcol, .sixhalfcol, .sixcol, .sevencol, .sevenhalfcol, .eightcol, .ninecol, .tencol, .elevencol {
margin-right: 3.8%; float: left; min-height: 1px;
}

.row .onecol {width: 4.85%;}
.row .twocol {width: 13.45%;}
.row .twohalfcol {width: 15.875%;}
.row .threecol {width: 22.05%;}
.row .threehalfcol {width: 24.475%;}
.row .fourcol {width: 30.75%;}
.row .fivecol {width: 39.45%;}
.row .fivehalfcol {width: 43.7%;}
.row .sixcol {width: 48%;}
.row .sixhalfcol {width:50.425%}
.row .sevencol {width: 56.75%;}
.row .sevenhalfcol {width: 59.175%;}
.row .eightcol {width: 65.4%;}
.row .ninecol {width: 74.05%;}
.row .tencol {width: 82.7%;}
.row .elevencol {width: 91.35%;}
.row .twelvecol {width: 100%;float: left;}

.row .pushhalfcol {margin-left:4.325%;}
.row .pushonecol {margin-left:8.65%;}
.row .pushtwocol {margin-left:17.25%}

.last {margin-right: 0px;}

img, object, embed {max-width: 100%;}

img {height: auto; display:block;}
