.module {padding-bottom:25px; margin-top:30px; border-bottom:1px #d9d9d9 solid;}

.module h4 {margin-bottom:18px;}
.module h6 {margin-bottom:27px;}
.module h4, .module h6 {font-family:"Lucida Grande", "Lucida Sans", Tahoma, sans-serif;}

.module .border {padding:5px; border:1px #ebebeb solid;}

.module .redBtn {padding:0 17px 0 13px; margin-top:16px; font-size:11.5px; font-weight:bold; text-transform:uppercase; text-decoration:none; color:#fff; height:33px; line-height:33px; background-image:url('../img/redBtn.png'); background-position:left center; background-repeat:no-repeat; position:relative; display:inline-block; *display:inline; zoom:1; text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.46);}
.module .redBtn span {display: block; height: 33px; width: 12px; background-image: url('../img/redBtnPoint.png'); background-position: right center; position: absolute; right: 0; top: 0px;}

.module .noBorder {border-bottom:0;}

.module.videoBox {padding-bottom:50px;}
.module.videoBox p, .module.sliderBox p {font-size:14px;}

.module blockquote.right, .module .contactMeta {margin:35px 0 0 35px !important; padding-top:37px; background-image:url('../img/quoteIcon.png'); background-repeat:no-repeat;}
.module blockquote.right {display:block; font-size:18px; font-style:italic; font-weight:bold; line-height:22px;}

.module .contactMeta p span {display:block; font-weight:bold; font-size:18px;}
.module .contactMeta p em {font-size:11px; font-style:italic; color:#f13f2c;}
.module .contactMeta .contact {overflow:hidden; font-size:11px; background-color:#f6f6f6; border:1px #dbdbdb solid; padding:5px 8px!important; margin:10px 0 0 0!important;}
.module .contactMeta .contact li {float:left; list-style-type:none!important;  padding:0 0 0 25px!important; height:23px; line-height:23px;}

.module .contactMeta .email, .module .contactMeta .phone {background-repeat:no-repeat; background-position:left center;}
.module .contactMeta .email {background-image:url('../img/emailIcon.png'); margin:0 10px 0 0!important;}
.module .contactMeta .phone {background-image:url('../img/phoneIcon.png'); margin:0!important;}

.module.featuredTitle {border-bottom:0;}
.module.featuredTitle .row {background-color:#f23f2c;}
.module.featuredTitle h4 {color:#fff; padding:11px; margin:0 !important;}

.module .featuredList {width:auto; position:relative; padding:27px 18px 10px 18px; background-color:#f6f6f6; border-left:1px #ebebeb solid; border-right:1px #ebebeb solid; border-bottom:1px #ebebeb solid;}
.module .featuredList .bkTopBorder {background-color:#000; display:block; height:10px; width:100%; position:absolute; top:0; left:0; right:0;}
.module .featuredList h6 {font-size:16px; margin-bottom:15px;}
.module .featuredList ul {margin:0 !important; color:#f23f2c;}
.module .featuredList ul li {padding-left:0!important;}
.module .featuredList ul span {color:#333333; font-size:12px;}

.module .textPanel {padding:5px 5px 15px 5px; border:1px #ebebeb solid;}
.module .textPanel img {padding:0; border:0; image}
.module .textPanel .text {padding:15px 11px 0 11px; margin-bottom:-5px;}
.module .textPanel .text h6 {font-size:12px; font-family:arial; margin-bottom:4px;}
.module .textPanel .text p {font-size:11px; line-height:14px; margin-bottom:3px;}
.module .textPanel .text p em {font-size:13px; line-height:16px; font-style:italic; color:#f23f2c;}
.module .textPanel .text a {font-size:11px;}

.module .imgLink {display:block; font-weight:bold; font-size:11px; text-decoration:none; padding:4px 10px; background-color:#f23f2c; color:#fff; background-repeat:no-repeat; background-image:url('../img/blackArrow.png'); background-position:97% center;}
